* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: none;
}

body {
    width: 100vw;
    height: 100vh;
}

#img-container {
    position: absolute;
    display: flex;
    flex-flow: row wrap;

    width: 100vw;
    height: 100vh;

    transform-style: preserve-3d;
}

.panels {
    height: 8.4vh;
    width: 6.25vw;
    overflow: hidden;

    animation: gyro 10s 1 normal linear;
}

@keyframes gyro {
    0% {
        transform: rotate3d(1, 1, 1, 720deg);
    }
}
